body {
    font-family: -apple-system;
    background-color: #ffffff;
}

.contents {
    background-color: #f1f1f1;
    width: 1000px;
    height: 1500px;
    padding: 8px 0px 30px 0px;
    margin-right: auto;
    margin-left : auto;
}

h1 {
    text-align: center;
    font-weight: normal;
}

ul {
    padding: 0;
    text-align: center;
    margin-right: 200px;
    margin-left : 200px;
    padding-left: 0px;
    width: 500px;
}

ul li {
    color: white;
    list-style-type: none;
    padding-left: 0px;
    font-weight: bold;
    margin-right: auto;
    margin-left : auto;
    text-align: center;
    padding: 0;
    margin: 0;
}

ul a {
    padding: 5px;
    display: block;
    text-decoration: none;
    display: inline-block;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    border-bottom: 5px solid #f1f1f1;
    width: 600px;
    background: #616161;
    color: #fff;
    position: relative;

}

ul a:hover {
    background: #cccccc;
    color: #000000;
}

ul a:link {
    color : #ffffff;
}
ul a:visited {
    color : #ffffff;
}
